<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390220804592-s5o44m4amm06ar5pn11kpelv44k6vo98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390220804592-s5o44m4amm06ar5pn11kpelv44k6vo98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>390220804592-0jlknm18dqoc3f6debiogmfdeo01bscv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGw-jc9Pl-qyAvuIm-9LjH6_jXBf88tTI</string>
	<key>GCM_SENDER_ID</key>
	<string>390220804592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neelam.findAnyFlutter</string>
	<key>PROJECT_ID</key>
	<string>adroit-chemist-368310</string>
	<key>STORAGE_BUCKET</key>
	<string>adroit-chemist-368310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390220804592:ios:9eeb8985423dc415786d35</string>
	<key>DATABASE_URL</key>
	<string>https://adroit-chemist-368310-default-rtdb.firebaseio.com</string>
</dict>
</plist>